body {
    background-color: rgb(156, 189, 215);
	text-align: center;
	color: rgb(255, 255, 255);
    font-family: Georgia, serif;
}

table {
	margin: 100px auto;
	border: 1px solid rgb(255, 255, 255);
	color: aliceblue;
}

.cell {
	width: 25px;
	height: 25px;
	font-size: 1em;
	color:  rgb(25, 39, 49);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 0.1pc;

}

 .board-container3{
	background-color: white;
} 

h1 {
	background-color: rgb(144, 159, 159);
}

td {
	 background-color: rgb(111, 147, 162);
}
.uncovered{

background-color: rgb(173, 193, 202);

}

.covered{

	background-color: rgb(111, 147, 162);
}

.selected-level {
    background-color: rgb(93, 93, 119);
    color: white;
    font-weight: bold;
}
/* 
.level-btn {

} */


